header {
    background-color: aqua;
}
.container {
    text-align: center;
}
nav ul li {
    display: inline-block;
}
#avatar {
    width: 30%;
}
.header_hero {
    background-color: green;
}
img {
    max-width: 100%;
}
section.about {
    background-color: lightseagreen;
}

.footer_top {
    background-color: cadetblue;
}
.footer_bottom {
    background-color: darkblue;
}
