header {
    background-color: aqua;
}
.container {
    text-align: center;
}
nav ul li {
    display: inline-block;
}
#avatar {
    width: 40%;
}
.header_hero {
    background-color: green;
}
.container img {
    max-width: 100%;
}
section.about {
    background-color: lightseagreen;
}

.container-fluid {
    text-align: center;
    background-color: grey;
}
.container-fluid .col {
    background-color: blue;
}